---
title: Blog Alexandru Mihăilescu
layout: default
permalink: /blog/
---
<div id="fullWidthContainer" class="notScrolling">
  {% for post in site.posts limit: 100 %}

    {% if post.designs == nil and published == nil %}
      <section>
        <a href="{{ post.url }}">
          <h1>{{ post.title }}</h1>
          <span>
  {% assign m = post.date | date: "%-m" %}
  {{ post.date | date: "%-d" }}
  {% case m %}
    {% when '1' %}Ianuarie
    {% when '2' %}Februarie
    {% when '3' %}Martie
    {% when '4' %}Aprilie
    {% when '5' %}Mai
    {% when '6' %}Iunie
    {% when '7' %}Iulie
    {% when '8' %}August
    {% when '9' %}Septembrie
    {% when '10' %}Octombrie
    {% when '11' %}Noiembrie
    {% when '12' %}Decembrie
  {% endcase %}
  {{ post.date | date: "%Y" }}</span> |
          <span>Summary: {{post.summary}}</span>
        </a>
      </section>
    {% endif %}

  {% endfor %}
</div>
