---
title: Blog Alexandru Mihăilescu
layout: default
permalink: /blog/
---
<!-- Facebook Plugin -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.3&appId=564099213731649";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- Facebook Share -->
<div class="fb-like" data-href="{{ site.url }}{{ page.url }}" data-layout="button" data-action="like" data-show-faces="true" data-share="true" style="vertical-align:top;zoom:1;*display:inline"></div>
<!-- Twitter Share -->
<div class="tweet" style="display: inline">
<a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ site.url }}{{ page.url }}" data-text="{{page.title:}}" data-via="AlexandruMih_" data-count="none">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>
<!-- Twitter Follow -->
<a href="https://twitter.com/AlexandruMih_" class="twitter-follow-button" data-show-count="false">Follow @AlexandruMih_</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<div id="fullWidthContainer" class="notScrolling">
  {% for post in site.posts limit: 100 %}

    {% if post.designs == nil and published == nil %}
      <section>
        <a href="{{ post.url }}">
          <h2>{{ post.title }}</h2>
          <span>
  {% assign m = post.date | date: "%-m" %}
  {{ post.date | date: "%-d" }}
  {% case m %}
    {% when '1' %}Ianuarie
    {% when '2' %}Februarie
    {% when '3' %}Martie
    {% when '4' %}Aprilie
    {% when '5' %}Mai
    {% when '6' %}Iunie
    {% when '7' %}Iulie
    {% when '8' %}August
    {% when '9' %}Septembrie
    {% when '10' %}Octombrie
    {% when '11' %}Noiembrie
    {% when '12' %}Decembrie
  {% endcase %}
  {{ post.date | date: "%Y" }}</span> |
          <span>Summary: {{post.summary}}</span>
        </a>
      </section>
    {% endif %}

  {% endfor %}
</div>
