#cover {
    width: 100%;
    margin: 0;
    /*margin-top: 1vh;*/
    left: 0;
    right: 0;
    padding: 0;
    text-align: center;
}
#cover>img{
    max-width: 100%;
    margin: 0;
    padding: 0;
}
#cover>figure{
    max-width: 100%;
}
#cover>figure>image{
    max-width: 100%;
}
#cover>figure>figcaption{
    visibility: hidden;
    height: 0;
}