#cover {
    width: 100%;
    left: 0;
    right: 0;
    text-align: center;
}
#cover>img{
    max-width: 100%;
    margin: 0;
    padding: 0;
}
#cover>figure{
    visibility: hidden;
    height: 0;
}