@font-face {
  font-family: 'Century Gothic';
  src: local('Century Gothic'), url('fonts/GOTHIC.ttf') format('opentype');
}

[data-icon]:before {
  font-family: 'Century Gothic';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.8em;
  -webkit-transition: color .4s;
  -moz-transition: color .4s;
  -o-transition: color .4s;
  transition: color .4s;
}

.innewtab {
  target-new: tab;
}
body {
  font-family: 'Century Gothic';
  color: Black;
  -webkit-font-smoothing: antialiased;
  background: #ecf0f1;
  font-size: .75em;
  padding-top: 54px;
}

/* when navigation is shown, don’t allow scrolling of content */
body.no_scroll {
  overflow: hidden;
  height: 100%;
}

/* Firefox fix for overflow: hidden. Scroll bar is hidden and moves everything to the right */
@-moz-document url-prefix() {
  body.no_scroll {
    /*margin-right: 23px;*/
  }

  body.no_scroll .expanded {
    /*padding-right: 7px;*/
    background: rgba(0,0,0,.95); /* because FF no blur, reduce bg transparency */
  }
}

a:link, a:visited {
  color: #3366CC;
  text-decoration: none;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

a:hover {
  color: #ADC2EB;
}

p {
  line-height: 1.5em;
}

ul {
  list-style-type: none;
  padding: 0;
}

.massiveHeading {
  font-size: 6em;
  text-align: center;
  margin: 15% 0;
}

#content, footer {
  margin: 0 auto;
}



/* === TOP MENU LAYOUT === */
/* ======================= */

nav {
  color: White;
  background: rgba(15,31,71,1);
  position: absolute;
  top: 0;
  width: 100%;
  height: 32px; /* smaller height because font is smaller */
  padding-top: 8px;
  right: 0;
  z-index: 1000;
  cursor: pointer;
  overflow: hidden;
  -webkit-transform: translate(0,0);
  -moz-transform: translate(0,0);
  -o-transform: translate(0,0);
  transform: translate(0,0);
  -webkit-transition: -webkit-transform .4s, height .3s, background .4s;
  -moz-transition: -moz-transform .4s, height .3s, background .4s;
  transition: transform .4s, height .3s, background .4s;
  -webkit-animation: firstFadeInAndDrop .5s;
  -moz-animation: firstFadeInAndDrop .5s;
  animation: firstFadeInAndDrop .5s;
}

/* on intial load fade in the menu */
@-webkit-keyframes firstFadeInAndDrop {
  0%   {-webkit-transform: translate(0,-54px);}
  100% {-webkit-transform: translate(0,0);}
}

@-moz-keyframes firstFadeInAndDrop {
  0%   {-moz-transform: translate(0,-54px);}
  100% {-moz-transform: translate(0,0);}
}

@keyframes firstFadeInAndDrop {
  0%   {transform: translate(0,-54px);}
  100% {transform: translate(0,0);}
}

/* on navigation hover add slight white bg */
nav:hover {
  background: rgba(0,0,0,.95);
}

/* limits width of menu to site width */
.site-width {
  margin: 0 auto;
  padding: 0 2%;
}

/* name of site in main menu (not user selectable) */
.site-width>a {
  font-weight: bold;
  color: #ADC2EB;
  line-height: 1.9em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* when hidden it goes up */
nav.invisible {
  -webkit-transform: translate(0,-64px);
  -moz-transform: translate(0,-64px);
  -o-transform: translate(0,-64px);
  transform: translate(0,-64px);
  -webkit-transition: -webkit-transform .2s;
  -moz-transition: -moz-transform .2s;
  -o-transition: -o-transform .2s;
  transition: transform .2s;
  opacity: 0;
}

/* when shown & detached position is fixed */
nav.detached {
  position: fixed;
  background: rgba(15,31,71,1);
  -webkit-transition: -webkit-transform .3s, height .3s, background .4s, opacity .3s;
  -moz-transition: -moz-transform .3s, height .3s, background .4s, opacity .3s;
  -o-transition: -o-transform .3s, height .3s, background .4s, opacity .3s;
  transition: transform .3s, height .3s, background .4s, opacity .3s;
}



/* === MENU NAVIGATION === */
/* ======================= */

/* increases menu width & height */
nav.expanded {
  width: 100%;
  height: 100%;
  position: fixed;
  cursor: default;
  background: rgba(0,0,0,.95);
}

/* positions navigation content */
#navigation {
  -webkit-transform: translate(0,-700px);
  -moz-transform: translate(0,-700px);
  -o-transform: translate(0,-700px);
  transform: translate(0,-700px);
  opacity: 0;
  padding-top: 2em;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  -webkit-transition: -webkit-transform .15s, opacity .7s;
  -moz-transition: -moz-transform .15s, opacity .7s;
  -o-transition: -o-transform .15s, opacity .7s;
  transition: transform .15s, opacity .7s;
}

/* shows navigation */
nav.expanded #navigation {
  -webkit-transform: translate(0,0); /* hardware acceleration */
  -moz-transform: translate(0,0);
  -o-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1;
}


/* === MENU NAVIGATION CONTENT === */
/* =============================== */

/* adds vertical spacing between menu links */
#navigation ul li {
  padding: 1em 0;
}

/* subheading span styling */
#navigation ul span {
  font-family: 'Century Gothic';
  font-size: .75em;
  text-transform: uppercase;
  color: #666;
  display: block;
}

/* makes link font bigger */
#navigation ul a {
  font-family: 'Century Gothic';
  font-size: 1.2em;
  padding: 0 15%;
}

/* === MENU ICONS === */
/* ================== */

/* adds padding to icons */
.icon {
  padding: 2% 3%;
  margin: -2% -3%; /* center icon in vertical middle of top menu */
  cursor: pointer;
  float: right;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* hides extra text of icon (accessibility) */
.icon span {
  display: none;
}

/* on focus, don’t show outline */
.icon:focus {
  outline: none;
}

/* icon colour */
.icon:before, .icon:active:before {
  color: #3366CC;
}

/* changes colour on hover or keyboard focus */
.icon:hover:before, .icon:focus:before {
  color: #ADC2EB;
}

/* changes icon to an “X” */
.expanded .icon:before {
  content: 'BACK';
}



/* === CONTENT BLURRING === */
/* ======================== */

/* adds transition to the content */
#container {
  -webkit-transition: -webkit-transform .2s, filter .2s;
  -moz-transition: -moz-transform .2s, filter .2s;
  -o-transition: -o-transform .2s, filter .2s;
  transition: transform .2s, filter .2s;
}

/* === FOOTER === */
/* ============== */

footer {
  margin-top: 5%;
  text-align: center;
  opacity: .7;
  -moz-transition: all .4s;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

footer:hover {
  opacity: 1;
}

.logo {
  border-bottom: none !important;
  opacity: .2;
  padding: 15px;
  display: inline-block;
  -moz-transition: all .4s;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.logo:hover {
  opacity: 1;
}



/* === ABOVE 768PX === */
/* =================== */

@media screen and (min-width: 768px){
  body {
    font-size: 1.125em;
  }

  /* bigger nav height because font is bigger */
  nav {
    height: 46px;
  }

  /* bigger font size */
  #navigation ul a {
    font-size: 3.3em;
  }
}