{% capture lvl %}{{ page.url | append:'index.html' | split:'/' | size }}{% endcapture %} 
{% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="{{ site.url }}/js/preventscroll.js"></script>
  <script src="{{ site.url }}/js/navbar.js"></script>
    <div id=disqus_button>LOAD COMMENTS</div>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES * * */
        var disqus_shortname = 'alexandrumihailescu';
    
        /* * * DON'T EDIT BELOW THIS LINE * * */
         $('#disqus_button').on('click', function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            $('#disqus_button').fadeOut();
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
  </div>
  </body>
</html>

