{% capture lvl %}{{ page.url | append:'index.html' | split:'/' | size }}{% endcapture %} 
{% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, minimal-ui" />
    <link rel="stylesheet" type="text/css" media="all" href="{{ site.url }}/style/navstyle.css" />
    <title>{{ page.title }}{% if page.layout != 'default' %} - {{ site.name }}{% endif %}</title>
    <meta name="description" content="{% if page.layout == 'default' %}{{ site.description }}{% else %}{% if page.cover %}{{ content | split:'<!--more-->' | first | strip_html }}{% endif %}{% endif %}" />
    <meta name="copyright" content="© Alexandru Mihăilescu">
    <link rel="author" href="https://twitter.com/AlexandruMih_" />

  </head>
  <body>
    <nav>
      <div class="site-width" title="vezi meniu legături">
        <a>
            ALEXANDRU <span id="headerNameSeparator"></span> MIHĂILESCU
        </a>
      </div>

      <div id="navigation">
        <ul>
          <li>
            <span>
              Pagina de
            </span>
            <span>
              <a href="{{site.url}}/"
                 class="about"
                 title="Despre mine">
                Start
              </a>
            </span>
          </li>
          <li>
            <span>
              Lucru
            </span><!--
            <span>
              <a href="{{site.url}}/projects/"
                 class="portofolio"
                 title="Vezi proiectele mele">
                Proiecte
              </a>
            </span>-->
            <span>
              <a href="{{site.url}}/blog/"
                 class="blog"
                 title="Citește-mi Blogul">
                Blog
              </a>
            </span>
          </li>
          <li>
            <span>
              Contact
            </span>
            <span>
              <a href="mailto:alexandru.mihailescu_social@outlook.com"
                 class="contact"
                 title="Trimite-mi un e-mail"
                 target="_blank">
                Mail
              </a>
            </span>
            <span>
            <a href="https://twitter.com/AlexandruMih_"
               class="contact innewtab"
               title="Găsește-mă pe Twitter"
               target="_blank">
              Twitter
            </a>
            </span>
          </li>
        </ul>
      </div>
    </nav>