{% capture lvl %}{{ page.url | append:'index.html' | split:'/' | size }}{% endcapture %} 
{% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, minimal-ui" />
    <link rel="stylesheet" type="text/css" media="all" href="{{ site.url }}/style/style.css" />
    <title>{{ page.title }}</title>
  </head>
  <body>
    <nav>
      <div class="site-width">
        <a>
          <span id="navFirstname">
            ALEXANDRU
          </span>
          <span id="navLastname">
            MIHĂILESCU
          </span>
        </a>
      </div>

      <div id="navigation">
        <ul>
          <li>
            <div>
              Intro
            </div>
            <div>
              <a href="#"
                 class="about"
                 title="About me">
                Despre Mine
              </a>
            </div>
          </li>
          <li>
            <div>
              Proiecte
            </div>
            <div>
              <a href="#"
                 class="portofolio"
                 title="Projects">
                Informatică
              </a>
            </div>
            <div>
              <a href="#"
                 class="blog"
                 title="My Blog">
                Blog
              </a>
            </div>
          </li>
          <li>
            <div>
              Contact
            </div>
            <div>
              <a href="mailto:alexandru.mihailescu_social@outlook.com"
                 class="contact"
                 title="Mail"
                 target="_blank">
                Mail
              </a>
            </div>
            <div>
            <a href="https://www.facebook.com/alexandru.mihailescu.3"
               class="contact innewtab"
               title="Facebook"
               target="_blank">
              Facebook
            </a>
            </div>
            <div>
            <a href="https://twitter.com/AlexandruMih_"
               class="contact innewtab"
               title="Twitter"
               target="_blank">
              Twitter
            </a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <div>
      Pagină neimplementată.
    </div>