{% capture lvl %}{{ page.url | append:'index.html' | split:'/' | size }}{% endcapture %} 
{% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, minimal-ui" />
    <link rel="stylesheet" type="text/css" media="all" href="{{ site.url }}/style/style.css" />
    <title>{{ page.title }}</title>
  </head>
  <body>
    <nav>
      <div class="site-width">
        <a href="http://alexandrumihailescu.github.io" target="_blank">
          Alexandru Mihailescu
        </a>
        <span class="menu icon"
              title="Menu (Esc)"
              tabindex="0"
              data-icon="m">
          <span>
            Navigation Menu
          </span>
        </span>
      </div>

      <div id="navigation">
        <ul>
          <li>
            <span>
              Home
            </span>
            <a href="#"
               class="about"
               title="About me"
               target="_blank">
              About me
            </a>
          </li>
          <li>
            <span>
              My Portofolio
            </span>
            <a href="#"
               class="portofolio"
               title="My Portofolio"
               target="_blank">
              Computer Science
            </a>
          </li>
          <li>
            <span>
              Thoughts
            </span>
            <a href="#"
               class="blog"
               title="My Blog"
               target="_blank">
              My Blog
            </a>
          </li>
          <li>
            <span>
              Where you can find me
            </span>
            <a href="#"
               class="contact"
               title="Contact Me"
               target="_blank">
              Contact me
            </a>
            <a href="https://www.facebook.com/alexandru.mihailescu.3"
               class="contact"
               title="Facebook"
               target="_blank">
              Facebook
            </a>
            <a href="https://twitter.com/AlexandruMih_"
               class="contact"
               title="Twitter"
               target="_blank">
              Twitter
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <div>
      Header loaded!
    </div>