{% include header.html %}
<link rel="stylesheet" type="text/css" media="all" href="{{ site.url }}/style/blogpoststyle.css" />
<!-- COVER -->
<div id="cover" style="background: {{page.backgroundcolour}};">
    <figure>
        <img src="{{ site.url }}/images/{{page.cover}}" alt="Trei bile loto cu valoarea 0">
        <figcaption>
            Deși contra legii, în extragerea din 13.04.2015 suma 0 putea fi extrasă.
        </figcaption>
    </figure>
</div>
{% include social.html %}

<!--POST-->
  <div id="post">
<h1>{{ page.title }}</h1>
<div class="dateline">
  {% assign m = page.date | date: "%-m" %}
  {{ page.date | date: "%-d" }}
  {% case m %}
    {% when '1' %}Ianuarie
    {% when '2' %}Februarie
    {% when '3' %}Martie
    {% when '4' %}Aprilie
    {% when '5' %}Mai
    {% when '6' %}Iunie
    {% when '7' %}Iulie
    {% when '8' %}August
    {% when '9' %}Septembrie
    {% when '10' %}Octombrie
    {% when '11' %}Noiembrie
    {% when '12' %}Decembrie
  {% endcase %}
  {{ page.date | date: "%Y" }}
</div>
    {{ content }}
</div>
{% include footer.html %}
