{% include header.html %}
<!-- Facebook Plugin -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.3&appId=564099213731649";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Twitter Share -->
<a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ site.url }}{{ page.url }}" data-text="{{page.title:}}" data-via="AlexandruMih_" data-count="none">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<!-- Facebook Share -->
<div class="fb-like" data-href="{{ site.url }}{{ page.url }}" data-layout="standard" data-action="like" data-show-faces="true" data-share="true" style="vertical-align:top;zoom:1;*display:inline"></div>

<!--POST-->
<h1>{{ page.title }}</h1>
<div class="byline-name" style="height: 0; display: inline;">Alexandru Mihăilescu</div>
<div class="dateline">
  {% assign m = page.date | date: "%-m" %}
  {{ page.date | date: "%-d" }}
  {% case m %}
    {% when '1' %}Ianuarie
    {% when '2' %}Februarie
    {% when '3' %}Martie
    {% when '4' %}Aprilie
    {% when '5' %}Mai
    {% when '6' %}Iunie
    {% when '7' %}Iulie
    {% when '8' %}August
    {% when '9' %}Septembrie
    {% when '10' %}Octombrie
    {% when '11' %}Noiembrie
    {% when '12' %}Decembrie
  {% endcase %}
  {{ page.date | date: "%Y" }}
</div>

  <div id="content">
    {{ content }}
  </div>

{% include footer.html %}
